annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.2
beautifulsoup4==4.13.5
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.6
docutils==0.22.2
evdev==1.9.2
filetype==1.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
keyboard==0.13.5
Kivy==2.3.1
Kivy-Garden==0.1.5
MouseInfo==0.1.3
murf==2.1.0
numpy==2.3.3
ollama==0.6.0
pillow==11.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pydantic==2.11.9
pydantic_core==2.33.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pynput==1.8.1
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
python-xlib==0.33
python3-xlib==0.15
pyttsx3==2.99
pytweening==1.2.0
requests==2.32.5
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SpeechRecognition==3.14.3
sqlparse==0.5.3
typing-inspection==0.4.1
typing_extensions==4.15.0
urllib3==2.5.0
